@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,400&family=Montserrat:ital@0;1&display=swap');

/*                                       selection
*************************************************************/
::selection {
  color: white;
  background-color: lightblue;
}

/*************************************************************
*                                          body
*************************************************************/
html,
body {
  background: #ccc;
  width: 100%;
  /* height: 100%; */
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
}

/*************************************************************
*                                          header
*************************************************************/
header {
  background: linear-gradient(180deg, #4e29ae 44.27%, #803db4 100%);
  padding: 5px 20px 20px 20px;
}

header>div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}

.social-icon {
  width: 20px;
  height: 20px;
  padding: 1px;
  border-radius: 4px;
}

.social-icon:hover {
  background-color: #B672EC;
}

.social-media {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.top-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-radius: 12px;
  border: 1px solid var(--m-3-sys-light-outline-variant, #cac4cf);
  background: var(--m-3-sys-light-surface-tint, #6745c7);
  padding: 0.5em;
  margin-bottom: 1em;
}

.top-bar .button {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: none;
  border-radius: 100px;
  background: var(--m-3-sys-dark-primary, #cdbdff);
  color: var(--m-3-sys-dark-on-primary, #370095);
  padding: 5px 12px;
  font-size: 14px;
  text-decoration: none;
}

.follow-us {
  color: #dfd5ec;
  width: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.follow-us p {
  margin: 0;
}

/*************************************************************
*                                          page
*************************************************************/
.page {
  width: 100%;
  padding: 0;
}

/*************************************** adjusting screen size */
@media only screen and (max-width: 40em) {
  .page {
    margin: 0;
  }

  nav li a.current {
    border: none;
    border-radius: 0;
  }
}

/*************************************************************
*                                          page not found
*************************************************************/

.not-found {
  background-image: url("/images/page-not-found.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}

/*************************************************************
*                                      top-banner
*************************************************************/
/* #top-banner {
    
} */

nav {
  position: relative;
  color: #e8ddff;
}

/*************************************************************
*                                         footer
*************************************************************/
footer {
  background: var(--m-3-sys-dark-secondary-container, #66209b);
  padding: 41px 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
  color: #e8ddff;
}

footer .follow-us {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

footer .privacy-section {
  display: flex;
  gap: 20px;
}

footer .privacy-section a {
  color: #e8ddff;
}

/*************************************************************
*                                           nav
*************************************************************/
nav input[type="checkbox"] {
  display: none;
}

nav .menu-toggle {
  display: none;
  margin: 0;
  padding: 1em 1.5em;
  border: none;
  background: none;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

nav .menu-toggle::before {
  content: " ";
  display: inline-block;
  transform: translateY(0px);
  transition: transform 0.2s ease-out;
}

nav .icon {
  margin: 0.25em 0.6em 0 0;
}

nav ul {
  position: relative;
  display: flex !important;
  flex-flow: row wrap;
  justify-content: center;
  border-top: none;
  padding: 0 0.25rem;
  list-style: none;
  font-size: 1rem;
  margin: 0;
  width: 100%;
  color: #fff;
  font-family: "Roboto", "Tahoma", "Arial", sans-serif;
}

/*************************************** adjusting screen size */
@media only screen and (max-width: 40em) {
  nav ul {
    display: block !important;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.25s ease-in-out;
  }

  .toggle:checked+.menu-toggle+ul {
    max-height: 600px;
  }

  nav .menu-toggle {
    display: inline-block;
  }

  nav li:not(first-child) {
    border-top: 1px solid rgb(255, 255, 255, 0.25);
  }
}

nav li {
  display: list-item;
  margin: 0;
}

nav li a {
  display: block;
  margin: 0;
  padding: 0.75em 1.25em;
  border: none;
  border-radius: 10px;
}

nav li a:link,
nav li a:visited {
  color: #fff;
  text-decoration: none;
}

nav li a:hover,
nav li a:active {
  color: rgba(255, 255, 255, 0.5);
}

nav li a.current {
  background-color: rgb(255, 255, 255, 0.3);
  border-bottom: 1px solid #e8ddff;

}

/*************************************************************
*                                         article
*************************************************************/
article {
  display: block;
  margin: 0;
  padding: 1.5rem;
  max-width: 100%;
  box-sizing: border-box;
  background: #fff;
}

/*************************************************************
*                                     post-content
*************************************************************/
/*
div #post-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 840px;
    width: 100%;
}
*/
div #post-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  width: 100%;
}

#post-content a {
  font-weight: bold;
  text-decoration: underline;
}

#post-content a:hover {
  text-decoration: none;
}

.hero-button {
  padding: 10px 24px;
  display: inline-flex;
  text-align: center;
  border: none;
  border-radius: 100px;
  background: var(--m-3-sys-light-primary, #6745C7);
  font-size: 16px;
  color: #FFFFFF;
  font-weight: 400 !important;
}

.hero-button:link {
  text-decoration: none !important;
}

.hero-button:hover {
  color: #F5EEFF;
}

/*************************************************************
*                                        headers
*************************************************************/
h1 {
  font-size: 2rem;
  font-weight: normal;
  font-family: "Montserrat", serif;
}

h2 {
  font-size: 1.75em;
  font-weight: normal;
  font-family: "Montserrat", serif;
  border-left: 5px solid #4e29ae;
  padding-left: 5px;
  margin-bottom: 20px;
}

h3 {
  font-size: 1.375em;
  font-family: "Montserrat", serif;
}

h4 {
  font-size: 1.125em;
  font-family: "Montserrat", serif;
  font-weight: 300;
}

p.hero-text {
  font-size: 2.25em;
  letter-spacing: -1px;
}

.hero-section {
  margin-top: 100px;
  gap: 20px;
}

h1.Home {
  display: none;
}

/*************************************************************
*                                    column page
*************************************************************/
/* column items */
div #column-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

/*************************************** adjusting screen size */
@media only screen and (max-width: 50em) {
  div #column-items {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*************************************** adjusting screen size */
@media only screen and (max-width: 35em) {
  div #column-items {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}

/*************************************************************
*                                    column item
*************************************************************/
.column-item {
  text-align: center;
  line-height: 1.5em;
}

.column-item img {
  margin: 2em auto 0.5em auto;
}

#post-content .column-item a,
#post-content .column-item a:visited {
  text-decoration: none;
  color: #000 !important;
}

.column-item a {
  font-weight: normal !important;
}

.column-item a:hover {
  font-weight: bold !important;
}

/*************************************************************
*                                  2 column items
*************************************************************/
div #column-items-2cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

/*************************************** adjusting screen size */
@media only screen and (max-width: 50em) {
  div #column-items-2cols {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*************************************************************
*                           2 column items at 3/4
*************************************************************/
div #column-items-2-375-cols {
  display: grid;
  grid-template-columns: repeat(4, 3fr);
  gap: 1rem;
}

/*************************************** adjusting screen size */
@media only screen and (max-width: 50em) {
  div #column-items-2-375-cols {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*************************************************************
*                                 3 column items
*************************************************************/
div #column-items-3cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

/*************************************** adjusting screen size */
@media only screen and (max-width: 50em) {
  div #column-items-3cols {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*************************************** adjusting screen size */
@media only screen and (max-width: 35em) {
  div #column-items-3cols {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}

/*************************************************************
*                                    product item
*************************************************************/
.product-item {
  text-align: center;
  line-height: 1.5em;
}

.product-item img {
  margin: 2em auto 0.5em auto;
}

#post-content .product-item a,
#post-content .product-item a:visited {
  text-decoration: none;
  color: #000 !important;
}

.product-item a {
  font-weight: normal !important;
}

.product-item a:hover {
  font-weight: bold !important;
}

/*************************************************************
*                                    product-layout
*************************************************************/
/* welcome items */
div #product-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

/*************************************** adjusting screen size */
@media only screen and (max-width: 50em) {
  div #product-items {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*************************************** adjusting screen size */
@media only screen and (max-width: 35em) {
  div #product-items {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}

/*************************************** adjusting screen size */
@media only screen and (min-width: 40em) {
  .product-layout {
    display: flex;
    flex-direction: row;
  }

  .product-layout-icon {
    width: 30%;
  }

  .product-layout-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    padding: 0 2em;
  }

  .product-layout-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }



  .product-layout-links a:not(first-child) {
    margin-left: 2em;
  }
}

/*************************************** adjusting screen size */
@media only screen and (max-width: 40em) {
  .product-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .product-layout-icon {
    max-width: 200px;
    margin-bottom: 1em;
  }

  .product-layout-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .product-layout-links a:not(first-child) {
    margin-top: 1.5em;
  }

  .join-layout .arrow-1 {
    margin-top: -50px !important;
    margin-bottom: 20px;
  }

  .join-layout .arrow-2 {
    margin-bottom: -10px !important;
  }

}

/*************************************************************
*                                    welcome page
*************************************************************/
/* welcome items */
div #welcome-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

/*************************************** adjusting screen size */
@media only screen and (max-width: 50em) {
  div #welcome-items {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*************************************** adjusting screen size */
@media only screen and (max-width: 35em) {
  div #welcome-items {
    grid-template-columns: repeat(1, 1fr) !important;
  }

  .follow-us {
    flex-direction: column;
  }

  .social-icon {
    width: 16px;
    height: 16px;
  }

  .top-bar button {
    font-size: 12px;
  }
}

/*************************************************************
*                                    welcome item
*************************************************************/
.welcome-item {
  text-align: center;
  line-height: 1.5em;
}

.welcome-item img {
  margin: 2em auto 0.5em auto;
}

#post-content .welcome-item a,
#post-content .welcome-item a:visited {
  text-decoration: none;
  color: #000 !important;
}

.welcome-item a {
  font-weight: normal !important;
}

.welcome-item a:hover {
  font-weight: bold !important;
}


/*************************************************************
*                                   Home join section
*************************************************************/

.join-layout {
  padding: 1.25em;
  margin: 50px auto;
  border: 1px solid #CAC4CF;
  border-radius: 14px;
  background: rgb(232, 221, 255);
  background: linear-gradient(333deg, rgba(232, 221, 255, 1) 28%, rgba(251, 236, 255, 1) 70%);
  font-size: 18px;
  gap: 20px;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}

.join-item {
  padding-top: 50px;
  align-items: center;
}

.join-section {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.join-section img {
  max-width: 200px;
}

.join-layout .arrow-1 {
  margin-top: -100px;
}

.join-layout .arrow-2 {
  margin-bottom: -100px;
}

/*************************************************************
*                                    adjust heading size for mobile
*************************************************************/
@media only screen and (max-width: 60em) {
  h2 {
    font-size: 2em;
  }
}


/*************************************************************
*                                    adjust join section for mobile
*************************************************************/

@media only screen and (max-width:52.5em) {
  .join-layout {
    flex-direction: column;
  }
}

/*************************************************************
*                                    adjust hero section for mobile
*************************************************************/

@media only screen and (max-width:60em) {
  .hero-section {
    flex-direction: column-reverse;
  }
}

/*************************************************************
*                                          Activities section
*************************************************************/
.activities-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
  gap: 15px;
  flex-wrap: wrap;
}

.activities-item {
  width: 33.33%;
  /* height: 325px; */
  background-color: #F1ECF1;
  padding: 15px;
  box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
  border-radius: 16px;
  font-size: 18px;
  text-align: center;
}

.activities-item img {
  width: 60%;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 8px;
}

/*************************************************************
*                                    conference page hero
*************************************************************/
.conference-hero {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  padding: 20px;
  background-image: url('/images/bg-conference.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 360px;
  border: 1px solid #CAC4CF;
  border-radius: 14px;
}

.conference-details {
  color: #20005E;
  background-color: #e8ddffeb;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 14px;
}

.conference-title h2 {
  font-size: 3.5625em;
  font-weight: 800;
  letter-spacing: -1px;
}

@media only screen and (max-width:52.5em) {
  .conference-title h2 {
    font-size: 2.8125em;
  }
}

@media only screen and (max-width:37.5em) {
  h3 {
    font-size: 1.125em;
  }

  .conference-hero {
    flex-direction: column;
  }

  .conference-title h2 {
    font-size: 2.25em;
  }

  .activities-item {
    width: 50%;
  }
}

/*************************************************************
*                                    speaker page 
*************************************************************/
#Agenda {
  display: block;
}

.speakers-container {
  background: linear-gradient(94deg, rgba(205, 189, 255, 1) 24%, rgba(225, 182, 255, 1) 70%);
  border: 1px solid #ccc;
  border-radius: 14px;
  padding: 10px;
  margin: 30px auto;
}

.organizers-container {
  background: linear-gradient(94deg, rgba(245, 238, 255, 1) 39%, rgba(255, 236, 240, 1) 84%);
  border: 1px solid #ccc;
  border-radius: 14px;
  padding: 10px;
  margin: 30px auto;
}



.speakers-container>div,
.organizers-container>div {
  align-content: center;
  justify-content: space-around;
  justify-items: center;
  align-items: stretch;
  /* grid-auto-rows: 0.5fr; */
}


.SpeakerItem,
.OrganizerItem {
  width: 250px;
  /* border: 1px solid #cdbdff;
  border-radius: 10px; */
  padding: 1em;
  align-self: stretch;
  height: 100%;
}


.speaker-photo,
.Organizer-photo {
  display: block;
  width: 200px;
  height: 200px;
  object-fit: cover;
  text-align: center;
  border: 1px solid #CAC4CF;
  border-radius: 100px;
  margin: 10px auto;
  text-align: center;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.30), 0px 4px 8px 3px rgba(0, 0, 0, 0.15);
}


.SpeakerItem .speaker-name,
.OrganizerItem .Organizer-name {
  font-weight: 700;
  text-align: center;
}


.SpeakerItem .speaker-role,
.OrganizerItem .Organizer-role,
.OrganizerItem .company {
  font-style: italic;
  text-align: center;
}


.SpeakerItem .social-bar,
.OrganizerItem .social-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: #8060E2;
  padding: 0.5em;
  gap: 10px;
}

.social-bar .empty-span {
  display: none;
}

/* .SpeakerItem .social-bar a{
  font-size: 20px;
  color:#6745C7;
} */


.SpeakerItem .social-bar img,
.OrganizerItem .social-bar img,
.OrganizerItem .company img {
  width: 16px;

}

.SpeakerItem .speaker-bio,
.OrganizerItem .Organizer-bio {
  width: 250px;
  background-color: #F2DAFF;
  text-align: center;
  font-size: 12px;
  font-weight: 300;
  padding: 5px;
  border: 1px solid #CAC4CF;
  border-radius: 14px;
  /* visibility: hidden; */
  display: none;
  -webkit-transition: visibility 0s linear 0.3s, opacity 0.3s linear;
  -moz-transition: visibility 0s linear 0.3s, opacity 0.3s linear;
  -o-transition: visibility 0s linear 0.3s, opacity 0.3s linear;
  transition: visibility 0s linear 0.3s, opacity 0.3s linear;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transition-delay: 1s;
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;

}


h3.speaker-name:hover,
h3.Organizer-name:hover,
.talk-info .talk-title:hover {
  cursor: pointer;
}

h3.speaker-name:hover .speaker-bio,
h3.Organizer-name:hover .Organizer-bio {
  display: block;
  position: absolute;
  z-index: 100;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  z-index: 1000;
}

.SpeakerItem .talk-container img {
  width: 20px;
}

.SpeakerItem .talk-container {
  margin-top: 0.7em;
}

.SpeakerItem .talk-lable {
  /* font-weight: 300; */
  color: #803DB4;
}

.SpeakerItem .talk-title {
  font-weight: bold;
}


@media only screen and (max-width:80em) {

  .speakers-container>div,
  .organizers-container>div {
    grid-template-columns: repeat(3, 1fr) !important;
  }
}

@media only screen and (max-width:52.5em) {

  .speakers-container>div,
  .organizers-container>div {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media only screen and (max-width:30em) {

  .speakers-container>div,
  .organizers-container>div {
    grid-template-columns: repeat(1, 1fr) !important;
  }

  .activities-section {
    flex-direction: column;
  }

  .activities-item {
    width: 100%
  }
}

/*************************************************************
*                                    sponsors page 
*************************************************************/

.sponsors-container {
  border: 1px solid #CDBDFF;
  border-radius: 14px;
  overflow: auto;
}

.sponsors-container>div {
  gap: 60px;
  padding: 10px;
}

.conference-description {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
}

.conference-description .description,
.conference-description .quick-links {
  flex-basis: 50%;
  padding: 1.5em;
}

.conference-description .quick-links {
  border: 1px solid #BDBDBD;
  border-radius: 14px;
}

.sponsor-photo {
  display: block;
  width: 100%;
  height: 70px;
  /* border-radius: 100px; */
  object-fit: contain;
  text-align: center;
  margin: 20px auto;
}

.sponsor-name {
  text-align: center;
}


h3.sponsors-gold {
  display: table-caption;
  width: 200px;
  text-align: right;
  background-color: #FBC02D;
  border-radius: 0 30px 30px 0;
  padding: 15px;
  margin: 20px 0 30px 0;
}

h3.sponsors-silver {
  display: table-caption;
  width: 200px;
  text-align: right;
  background-color: #BDBDBD;
  border-radius: 0 30px 30px 0;
  padding: 15px;
  margin: 20px 0 30px 0;
}

h3.sponsors-bronze {
  display: table-caption;
  width: 200px;
  text-align: right;
  background-color: #FF8A65;
  border-radius: 0 30px 30px 0;
  padding: 15px;
  margin: 20px 0 30px 0;
}

@media only screen and (max-width:30em) {
  .conference-description {
    flex-wrap: wrap;
    flex-direction: column;
    align-content: stretch;
    gap: 10px;
  }


  .quick-links {
    width: 100%
  }
}

/*************************************************************
*   code challenge page
*************************************************************/

.code-challenge-container {
  background: linear-gradient(94deg, rgba(205, 189, 255, 1) 24%, rgba(225, 182, 255, 1) 70%);
  border: 1px solid #ccc;
  border-radius: 14px;
  padding: 30px;
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
}

.code-challenge-image img {
  max-width: 100%;
  margin-top: -40px;
  position: relative;
  z-index: 0;
}

.code-challenge-sponsor {
  background: #fff;
  border-radius: 7px;
  position: relative;
  z-index: 1;
  margin: 0 auto;
  line-height: 30px;
  padding: 5px 15px 42px;
  width: 180px;
}

.code-challenge-sponsor .sponsor-logo {
  width: 150px;
  float: right;
  margin: 0;
}

@media only screen and (max-width: 45em) {

  .code-challenge-container {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}

@media only screen and (min-width: 500px) {

  .code-challenge-sponsor {
    padding: 15px 25px;
    width: 350px;
  }

  .code-challenge-image img {
    margin-top: -30px;
  }
}


/*************************************************************
*   conference page tabs
*************************************************************/

/* Style the tab */
.conference-tab {
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 14px;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.conference-tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.conference-tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.conference-tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tab-content {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-radius: 0 0 14px 14px;
  border-top: none;
  animation: fadeEffect 1s;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/*************************************************************
*   Agenda page 
*************************************************************/
.conf-date {
  font-size: 2.25em;
  font-weight: 800;
  color: #8060E2;
  margin-top: 0;
  margin-bottom: 30px;
}

.tune-in {
  margin-top: 30px;
  margin-bottom: 0;
  font-weight: 500;
  color: #BDBDBD;
}

.agenda-item {
  display: flex;
  justify-content: center;
}

.date-container {
  background-color: #6745C7;
  width: 30%;
  padding: 10px;
}

.talk-info {
  width: 70%;
  /* height: 300px; */
  padding: 10px;
}

.date-container .agenda-date {
  font-size: 1.7em;
  font-weight: 700;
  color: #F1ECF1;
  text-align: right;
  margin-bottom: 0;
}

.date-container .date-zone {
  font-size: 0.7em;
  font-weight: 300;
  color: #F1ECF1;
  text-align: right;
  margin-top: 0;
}

.talk-info .talk-title {
  font-size: 1.5em;
  font-weight: bold;
  color: #4e29ae;
  margin-bottom: 10px;
  /* width: 600px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; */
}

.talk-info .talk-description {
  color: #48454E;
  padding-left: 40px;
  display: none;
  font-size: 14px;
  /* width: 600px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; */
  /* height: 300px; */
  /* overflow: scroll; */
}

.talk-info .arrow-icon {
  width: 20px;
}

.talk-info .talk-title:hover .talk-description {
  display: block;
}

.speaker-container {
  display: flex;
  gap: 30px;
}

.speaker-profile {
  display: flex;
  gap: 5px;
}

.speaker-profile .speaker-img {
  width: 40px;
  height: 40px;
  border-radius: 100px;
}

.speaker-profile .speaker-name {
  font-weight: 800;
  margin-bottom: 0;
}

.speaker-profile .speaker-role {
  font-weight: 400;
  font-style: italic;
}

.type-icon {
  width: 30px;
  margin: 0.25em;
  ;
}

@media only screen and (max-width:30em) {
  .date-container .agenda-date {
    font-size: 1.2em;
  }

  .talk-info .talk-title {
    font-size: 1.2em;
  }

  .speaker-container {
    display: flex;
    flex-direction: column;
  }
  .talk-description{
    padding-left: 5px;
  }
}